<div class="card mt-4">
  <div class="card-body">
    <form #alumnoForm="ngForm" (ngSubmit)="onSubmit(alumnoForm)">
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="alumnoService.selectedAlumno.$key">
       
      <div class="form-group">
        <input type="text" 
        class="form-control"
        name="nombre"
        #name="ngModel"
        [(ngModel)]="alumnoService.selectedAlumno.nombre"
        placeholder="Nombre del alumno"
        >  
      </div>
      <div class="form-group">
          <input type="text" 
          class="form-control"
          name="ap"
          #name="ngModel"
          [(ngModel)]="alumnoService.selectedAlumno.ap"
          placeholder="Apellidos"
          >  
        </div>
        <div class="form-group">
            <input type="text" 
            class="form-control"
            name="carrera"
            #name="ngModel"
            [(ngModel)]="alumnoService.selectedAlumno.carrera"
            placeholder="Carrera"
            >  
        </div>
        <div class="form-group">
            <input type="text" 
            class="form-control"
            name="semestre"
            #name="ngModel"
            [(ngModel)]="alumnoService.selectedAlumno.semestre"
            placeholder="Semestre"
            >  
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-check-circle">Guardar</i>
            </button>
            <button class="btn btn-secondary" type="reset" onclick="resetForm(alumnoForm)">
                <i class="fas fa-eraser">Borrar</i>
              </button>
          </div>
    </form>
  </div>
</div>