<div class="container">
    <div class="row">
      <div class="col-3 float-right br"><br> inagen</div>
      <div class="col br">
          <br>
          <br>
          descripcion
          <br>
          <br>
        </div>
      <div class="w-100"></div>
      <div class="col-3 text-center"></div>
          <div class="col br">
              <br>
              <br>
              <br>
              <br>
              <div class="container">
              quienes somos
            </div>
              <br>
              <br>
              <br>
              <br>
            </div>
    </div>
  </div>