<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light br">
  <div class="log">
  <a class="navbar-brand" href="#"  routerLink="/inicio">RE-MOV</a>
 </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <div class="cl">    <a class="nav-link" href="#" routerLink="/inicio">INICIO <span class="sr-only">(current)</span></a></div>
      </li>
      <li class="nav-item">
        <div class="cl"> <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" routerLink="/generos">Generos</a></div>
       </li>
      <li class="nav-item">
       <div class="cl"> <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" routerLink="/contacto" >Opinion</a></div>
      </li>
      <li class="nav-item">
          <div class="cl"> <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" routerLink="/conocenos" >Conocenos</a></div>
         </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
<br>
<router-outlet></router-outlet>
<br>

