<div class="container">
  <div class="row">
    <div class="col br">
          <div class="card" style="width: 18rem;">
                  <img src="http://placehold.it/250x250" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="critica1.html" class="btn btn-primary">terror</a>
                  </div>
                </div>
    </div>
    <div class="col br">
          <div class="card" style="width: 18rem;">
                  <img src="http://placehold.it/250x250" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Accion</a>
                  </div>
                </div>
    </div>
    <div class="col br">
          <div class="card" style="width: 18rem;">
                  <img src="http://placehold.it/250x250" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">ciencia ficcion</a>
                  </div>
                </div>
    </div>
    <div class="w-100"></div> 
  </div>
  <br>
  <div class="row">                          
    <div class="col br">
          <div class="card" style="width: 18rem;">
                  <img src="http://placehold.it/250x250" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">comedia</a>
                  </div>
                </div>
    </div>
    <div class="col br">
          <div class="card" style="width: 18rem;">
                  <img src="http://placehold.it/250x250" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">romance</a>
                  </div>
                </div>
    </div>
    <div class="col br">
          <div class="card" style="width: 18rem;">
                  <img src="http://placehold.it/250x250" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">suspenso</a>
                  </div>
                </div>
    </div>
  </div>
</div>
