<div class="col br">
<div class="card mt-4">
  <div class="card-body">
<form #opinionForm="ngForm" (ngSubmit)="onSubmit(opinionForm)">
   <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="opinionService.selectedOpinion.$key">
<div class="form-group">
  <input type="text" 
  class="form-control" 
  name="nom" 
  #name="ngModel" 
  [(ngModel)]="opinionService.selectedOpinion.nom" 
  placeholder="ingresa tu nombre"> 
</div>
<div class="form-group">
  <input type="text" class="form-control" name="ape" #name="ngModel" [(ngModel)]="opinionService.selectedOpinion.ape" placeholder="ingresa tus apellidos"> 
</div>
<div class="form-group">
  <input type="text" class="form-control" name="pun" #name="ngModel" [(ngModel)]="opinionService.selectedOpinion.pun" placeholder="ingresa un numero del 1 al 10"> 
</div>
<div class="form-group">
  <input type="text" class="form-control" name="opi" #name="ngModel" [(ngModel)]="opinionService.selectedOpinion.opi" placeholder="ingresa tu opinion"> 
</div>
<div class="form-group">
 <button class="btn btn-primary" type="submit">
   <li class="fas fa-plus-circle">envia opinion</li> 
 </button>
<button class="btn btn-secondary" type="reset" onclick ="resetForm(opinionForm)">
  <li class="fas fa-sync-alt">reset</li> 
</button>
</div>
</form>    
  </div>
</div>
</div>